@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(./PIC2.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* .ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
} */

h1 {
    opacity: 0.6;
    transition: 3000ms;
    color: white;
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}
.countdown-container {
    opacity: 0.6;
    transition: 3000ms;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1:hover, .countdown-container:hover{
    opacity: unset;
    transition: 3000ms;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    margin: 0 2rem;
    line-height: 1;
}

.countdown-el {
    text-align: center;
}
.countdown-el span {
    font-size: 1.2rem;
}



@media only screen and (max-width: 768px) {
    h1 {
        text-align: center;
        width: 100%;
        margin-top: 0.5rem;
    }
    .countdown-el {
        width: 100%;
    }
}